.ghwb-container {
  list-style: none;
}

.ghwb-button.btn-sm.btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.ghwb-button.ghwb-button--with-text {
  padding: 3px 12px;
}

.ghwb-button.ghwb-button--icon-only {
  padding: 3px 8px;
  gap: 0;
}

.ghwb-button .octicon {
  display: inline-flex;
  align-items: center;
}

.ghwb-button .octicon img {
  display: block;
  vertical-align: text-bottom;
}
